.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body{
    color:white;
}

.welcomeTextDiv{
text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;

}
.aboutMeDiv{
text-align: center;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

}
.footer-center{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: #323232;
  border-style: groove none  none none;
  border-radius: 1cm;
  color: white;
  text-align: center;
}
.socialLinksDiv{
filter: invert(100%);
display: flex;
justify-content: center;
align-items: center;

}
.socialLinksDivLightAlt{

display: flex;
justify-content: center;
align-items: center;

}